@page "/createNew"
@using Newtonsoft.Json
@using Survey.Models
@using Survey.Repositories
@inject NavigationManager Navigation

@rendermode InteractiveServer
@inject ISurveyRepository DbRepository

<h3>Create Page</h3>

<div class="row my-3 justify-content-center">
    <RadzenColumn Size="12" SizeMD="8">
        <RadzenCard Style="width: 50%;">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">제목</RadzenText>
            <RadzenTextArea @bind-Value="titleinput.Value" Style="width: 100%;" aria-label="TextArea"/>
        </RadzenCard>
    </RadzenColumn>
</div>

<div class="row my-3 justify-content-center">
    <RadzenColumn Size="12" SizeMD="8">
        <RadzenCard Style="width: 50%;">
            <div class="d-flex justify-content-between align-items-center">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">질문지</RadzenText>
                <RadzenButton Click=@AddTextArea Text="질문 추가" Icon="add_circle" ButtonStyle="ButtonStyle.Light" />
            </div>
            <RadzenRow Gap="2rem" RowGap="2rem" Class="rz-m-0 rz-m-md-12">
                @foreach (var input in questioninputs)
                {
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenCard Style="width: 100%;">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">질문</RadzenText>
                        <RadzenTextArea @bind-Value="input.Value" Style="width: 100%;" aria-label="TextArea"/>
                    </RadzenCard>
                </RadzenColumn>
                }
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
</div>

<div class="row my-3 justify-content-center">
    <RadzenColumn Size="12" SizeMD="8">
        <RadzenCard Style="width: 50%;">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">작성자</RadzenText>
            <RadzenTextArea @bind-Value="createrinput.Value" Style="width: 100%;" aria-label="TextArea"/>
        </RadzenCard>
    </RadzenColumn>
</div>

<RadzenButton Click=@SaveTextAreas Text="Send" Size="ButtonSize.Medium" />

@code {
    private List<InputModel> questioninputs = new();
    private InputModel titleinput = new();
    private InputModel createrinput = new();

    protected override async Task OnInitializedAsync()
    {
        AddTextArea();
        StateHasChanged(); // Force UI to update
    }
    private void AddTextArea()
    {
        questioninputs.Add(new InputModel());
        StateHasChanged(); // Force UI to update
    }

    private void SaveTextAreas()
    {
        var values = questioninputs.Select(i => i.Value).ToArray();

        SurveyForm newForm = new SurveyForm
        {
            Title = titleinput.Value,
            Constructor = createrinput.Value,
            CreateTime = DateTime.Now
        };
        
        newForm.Questions = JsonConvert.SerializeObject(values);
        
        DbRepository.CreateForm(newForm);
        
        Navigation.NavigateTo("/");
    }

    private class InputModel
    {
        public string Value { get; set; }
    }
}