@using Survey.Models
@code {
    [Parameter] public List<SurveyInfo.QuestionData> QuestionList { get; set; }
}

<div class="row my-1">
    <div class="col-sm-12 col-lg-12">
        @foreach (var question in QuestionList)
        {
            <RadzenCard Style="margin-bottom: 2rem;">
                <div>
                    <RadzenText Text=@(question.question) TextStyle="TextStyle.H5"/>

                    @if (question.type == SurveyInfo.SurveyType.MultipleChoice)
                    {
                        foreach (string choice in question.choiceArr)
                        {
                            <RadzenCard Style="margin-bottom: 1rem;">
                                <RadzenText Text=@(choice) TextStyle="TextStyle.H6"/>
                            </RadzenCard>
                        }
                    }
                </div>
            </RadzenCard>
        }
    </div>
</div>