@page "/form/questioninfo/{key}"
@using Radzen
@using Survey.Models
@using Survey.Repositories

@inject ISurveyRepository DbRepository

@rendermode InteractiveServer

@if (survey is null)
{
    <div class="rz-p-12">
        <RadzenText TextStyle="TextStyle.H1">Loadin.....</RadzenText>
    </div>
}

else
{
    <div class="rz-p-12">
        <RadzenText TextStyle="TextStyle.H3">@title</RadzenText>
    </div>

    <div class="row my-1">
        <div class="col-sm-12 col-lg-12">
        </div>
    </div>

}


@code {
    [Parameter]
    public string? key { get; set; }

    [SupplyParameterFromForm] private SurveyForm? survey { get; set; }
    TabPosition tabPosition = TabPosition.Top;

    private string title = string.Empty;
    private int selectedIndex = 0;

    protected override async Task OnParametersSetAsync()
    {
        if (key is null)
            return;
        
        survey = await DbRepository.GetForm(key);
        title = survey.Title;
    }
    
    void OnChange(int index)
    {
        Console.WriteLine($"Tab with index {index} was selected.");
    }
    private void OnTabChange(int index)
    {
        selectedIndex = index;
    }
}